---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <article>
    <header>
      <h1>{frontmatter.title}</h1>
      <p class="meta">
        发布于 {frontmatter.pubDate.toLocaleDateString('zh-CN')}
        · 作者：{frontmatter.author}
      </p>
      {
        frontmatter.tags && (
          <div class="tags">
            {frontmatter.tags.map((tag: unknown) => (
              <span class="tag">#{tag}</span>
            ))}
          </div>
        )
      }
    </header>

    <div class="content">
      <slot />
    </div>
  </article>
</Layout>
